* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-image: url("./ảnh/go.jfif");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9d8f4;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    text-decoration: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;

}

li a:hover:not(.active) {
    color: white;
    background-color: #db7093;
    font-weight: bold;
}

.trangchu {
    display: flex;
    flex-direction: column;
}

.tieude {
    text-align: center;
}

#nd {
    display: flex;
    gap: 70px;
    align-items: center;
    flex-direction: column;
}

#h2 {
    font-size: 50px;
}

.tieude p {
    font-size: 25px;
}

.mon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: auto;
    gap: 70px;
}

.mon img {
    width: 230px;
    height: 300px;
}

.mon a {
    color: blue;
    text-decoration: none;
}

.mon1 {
    width: 230px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.monchinh a {
    coler: black;
}

/*-----------------------------------*/
.mon2 {
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

#bla {
    color: rgb(127, 14, 197);
    font-size: larger;
}

#blo {
    font-size: large;
}

#ble {
    font-size: larger;
}

/*----------------------------------*/
#hihi {
    color: orange;
}

#feedback {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    resize: vertical;
    text-align: center;
    background-color: white;
}

#ho {
    width: 400px;
    height: 40px;
    margin-top: 5px;
    border-radius: 2px;
}

#he {
    height: 40px;
    margin-top: 5px;
    width: 200px;
    background-color: orange;

}

#hi {
    width: 400px;
    height: 100px;
    margin-top: 5px;


}

.food-image {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.food-info {
    padding: 10px;
}

.food-info>p {
    margin-top: 0;
}

.title {
    margin-top: 80px;
}

#end {
    background-color:white
}

#end h2 {
    margin-top: 1px;
}

#end h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

#end a {
    margin-right: 10px;
}
