body { 
    margin: 0;
    padding: 0;
    font-family: Montserrat; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #e9d8f4;
    position: fixed;
    top: 0; 
    width: 100%;
}

li {
    float: left;
}

li a {  
    display: block;  
    color: black;  
    text-align: center;  
    padding: 14px 16px;  
    text-decoration: none;
}

 li a:hover:not(.active) {  
    color: white;  
    background-color: #db7093;  
    font-weight: bold;
} 

.trangchu {
    display: flex;
    flex-direction: column;
}

.tieude {
    text-align: center;
}

#nd {
    display: flex;
    gap: 70px;
    align-items: center;
    flex-direction: column;
}

#h2 {
    font-size: 50px;
}
.tieude p {
    font-size: 25px;
}

.mon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: auto;
    gap: 70px;
}

.mon img {
    width: 230px;
    height: 300px;
}

.mon a {
    color: blue;
    text-decoration: none;
}
.mon1 {
    width: 230px;
}